@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2980b9;
}

@mixin box($left, $right){
    width: 20%;
    height: 74vh;
    background-color: white;
    display: inline-table;
    margin: 110px $left 0 $right;
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0px 6px 15px 2px rgba(75, 74, 74, 0.747);
    z-index: 1;
    visibility: hidden;
    .name{
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 700;
        color: black;
    }
    div{
        width: 100%;
        height: 165px;
        position: absolute;
        top: 300px;
    }
    p{
        font-size: 14px;
        color: #b9baba;
        margin-top: 4px;
    }
    h2{
        color: #51d384;
        font-size: 1.1rem;
        margin-top: 15px;
    }
    h3{
        font-size: 0.8rem;
        color: #b5b5b5;
        text-decoration-line: line-through;
    }
    button{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 0 0 5px 5px;
        background-color: #2f2f2f;
        color: #faf3ed;
    }
}

@mixin img( $yon ){
    width: 162px*1.25;
    height: 250px*1.25;
    box-shadow: 0px 6px 15px 2px rgba(75, 74, 74, 0.747);
    position: fixed;
    top: 85px;
    left: $yon;
    z-index: 2;
}
.marvel{
    @include img(415px);
    &:hover+.hero{
        visibility: visible
    }
}

.future{
    @include img(730px);
    &:hover+.fantastic{
        visibility: visible
    }
}

@mixin hover{
    &:hover{
        visibility: visible;
        cursor: pointer;
        animation-name: box;
        animation-duration: 1.5s;
        animation-delay: 0.5s;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
}

.hero{
    @include box(20px, 380px);
    @include hover;
}

.fantastic{
    @include box(380px, 20px);
    @include hover;
}


@keyframes box {
    from{
        transform: scale(0.9, 0.9);
    }
    to{
        transform: scale(1, 1);
    }
}